[submodule "Janus/rplycpp"]
	path = Janus/rplycpp
	url = https://github.com/manlito/rplycpp
[submodule "gnuplot-iostream"]
	path = gnuplot-iostream
	url = https://github.com/dstahlke/gnuplot-iostream
[submodule "assimp"]
	path = assimp
	url = https://github.com/assimp/assimp.git
